.App{
  float:left;
  width: 100%;
}
.App ul{
  padding : 0;
  margin: 0;
  width:100%;
  text-align: center;
}
.App li{
  list-style-type: none;
  display: inline-block;
  margin:20px;
}
.App a{
  text-decoration: none;
  color:#000;
}
.App a:hover{
  text-decoration: none;
  color:green;
}
.App a.my-active-class{
  border-bottom: 1px solid olivedrab;
}